@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Hostaliando.Web
<!DOCTYPE html>
<html lang="en" ng-app="hostaliando" ng-controller="RootController as root">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">


    <title>Bienvenido a Hostaliando</title>

    <base href="/" />

    <!-- Bootstrap -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            <div ng-include="::root.getTemplate('home/menu')"></div>
            <!-- /sidebar menu -->

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <ul class="nav navbar-nav navbar-right" ng-controller="HeaderController as header">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    {{::root.currentUser.name}}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a ng-click="header.logout()"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" ng-view="" ng-click="root.closeSubmenu()"></div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <script src="/js/resources.min.js"></script>
    <script src="/js/hostaliando.configuration.js"></script>

    <environment names="Development">
        <jsresources type="admin"></jsresources>
    </environment>
    <environment names="Staging,Production">       
        <script src="/js/app.min.js"></script>
    </environment>
</body>
</html>