@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Hostaliando.Web
<!DOCTYPE html>
<html ng-app="hostaliando">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <base href="/" />

    <title>Entrar - Hostaliando Web</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="login" >
    <div ng-view="">
        
    </div>
    
    <script src="/js/resources.min.js"></script>
    <script src="/js/hostaliando.configuration.js"></script>

    <environment names="Development">
        <jsresources type="admin"></jsresources>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/app.min.js"></script>
    </environment>
</body>
</html>