.angucomplete-bootstrap {
    float: none;
}

.highlight {
    color: cornflowerblue;
}

.angular-bootstrap-contextmenu .disabled {
    display:none;
}

.fc-tocreate {
    cursor:cell;
}

.drag-over {
    background-color: #808080 !important;
}