<div class="row top_tiles" ng-if="main.model.todayNumbers">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-bell-o"></i></div>
            <div class="count">{{main.model.todayNumbers.departures}}</div>
            <h3>Salidas</h3>
            <p>Personas se van hoy.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-globe"></i></div>
            <div class="count">{{main.model.todayNumbers.arrivals}}</div>
            <h3>Llegadas</h3>
            <p>Personas que llegan hoy.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-hotel"></i></div>
            <div class="count">{{main.model.todayNumbers.freeBeds}}</div>
            <h3>Camas disponibles</h3>
            <p>Compartidas libres hoy.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-cube"></i></div>
            <div class="count">{{main.model.todayNumbers.freeRooms}}</div>
            <h3>Habitaciones disponibles</h3>
            <p>Privadas libres hoy.</p>
        </div>
    </div>
</div>
<div class="row top_tiles" ng-if="main.model.earnings">
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <div class="count">{{main.model.earnings.today | currency}}</div>
            <h3>Hoy</h3>           
            <p><span class="count_bottom"><i ng-class="{'red': main.model.earnings.percentageToday < 0, 'green': main.model.earnings.percentageToday > 0 }"><i class="fa" ng-class="{'fa-sort-desc': main.model.earnings.percentageToday < 0, 'fa-sort-asc': main.model.earnings.percentageToday > 0 }"></i>{{main.model.earnings.percentageToday}}% </i> que ayer</span></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <div class="count">{{main.model.earnings.week | currency}}</div>
            <h3>Ultimos 7 días</h3>
            <p><span class="count_bottom"><i ng-class="{'red': main.model.earnings.percentageWeek < 0, 'green': main.model.earnings.percentageWeek > 0 }"><i class="fa" ng-class="{'fa-sort-desc': main.model.earnings.percentageWeek < 0, 'fa-sort-asc': main.model.earnings.percentageWeek > 0 }"></i>{{main.model.earnings.percentageWeek}}% </i> que semana pasada</span></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="tile-stats">
            <div class="count">{{main.model.earnings.month | currency}}</div>
            <h3>Ultimos 30 días</h3>
            <p><span class="count_bottom"><i ng-class="{'red': main.model.earnings.percentageMonth < 0, 'green': main.model.earnings.percentageMonth > 0 }"><i class="fa" ng-class="{'fa-sort-desc': main.model.earnings.percentageMonth < 0, 'fa-sort-asc': main.model.earnings.percentageMonth > 0 }"></i>{{main.model.earnings.percentageMonth}}% </i> que mes pasado</span></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="x_panel">
            <div class="x_title">
                <h2>Llegadas </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Huesped</th>
                                <th class="column-title hidden-xs">Hab.</th>
                                <th class="column-title hidden-xs">Valor</th>
                                <th class="column-title">Estado</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Opciones</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="booking in main.model.arrivals" class="pointer" ng-class-odd="odd" ng-class-even="even">
                                <td>{{::booking.guestName}}</td>
                                <td class="hidden-xs">{{::booking.room.name}}</td>
                                <td class="hidden-xs">{{::booking.totalPrice}}</td>
                                <td><span class="label label-default" ng-class="::[
                                              {'label-info' : booking.status == 'Booked'},
                                              {'label-success' : booking.status == 'CheckedIn'}
                                              ]">{{::main.getStatusName(booking)}}</span></td>
                                <td class="last">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs">Opción</button>
                                        <button type="button" class="btn btn-default dropdown-toggle  btn-xs" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-if="::booking.status !== 'CheckedIn'">
                                                <a href="#" ng-click="main.checkinBooking(booking)"><i class="fa fa-check"></i> Checkin</a>
                                            </li>
                                            <li>
                                                <a href="#" ng-click="main.cancelBooking(booking)"><i class="fa fa-remove"></i> Cancelar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#" ng-click="main.viewBooking(booking)">Ver</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="!main.model.arrivals.length">
                                <td colspan="5" class="last">
                                    No hay llegadas hoy
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Salidas </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Huesped</th>
                                <th class="column-title">Hab.</th>
                                <th class="column-title">Valor</th>
                                <th class="column-title hidden-xs">Estado</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="booking in main.model.departures" class="pointer" ng-class-odd="odd" ng-class-even="even">
                                <td>{{::booking.guestName}}</td>
                                <td>{{::booking.room.name}}</td>
                                <td>{{::booking.totalPrice}}</td>
                                <td>
                                    <span class="label label-default" ng-class="::[
                                              {'label-info' : booking.status == 'Booked'},
                                              {'label-success' : booking.status == 'CheckedIn'}
                                              ]">{{::main.getStatusName(booking)}}</span>
                                </td>
                            </tr>
                            <tr ng-show="!main.model.departures.length">
                                <td colspan="5" class="last">
                                    No hay salidas hoy
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>