<div class="x_panel">
    <div class="x_title">
        <h2>Calendario de reservas</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="calendar" class="fc fc-unthemed fc-ltr">
            <div class="fc-toolbar fc-header-toolbar">
                <div class="fc-left">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="main.showPrevious()" ><span class="fc-icon fc-icon-left-single-arrow"></span></button>
                        <button type="button" class="btn btn-default" ng-click="main.showNext()"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="main.setToday()">Hoy</button>
                </div>
                <div class="fc-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="main.changeRange('Month')" ng-class="{'btn-primary': main.calendarRange == 'Month' }">Mes</button>
                        <button type="button" class="btn btn-default" ng-click="main.changeRange('Week')" ng-class="{'btn-primary': main.calendarRange == 'Week'}">Semana</button>
                        <button type="button" class="btn btn-default" ng-click="main.changeRange('Day')" ng-class="{'btn-primary': main.calendarRange == 'Day' }">Día</button>
                    </div>
                </div>
                <div class="fc-center">
                    <h2>{{main.title}}</h2>
                </div>
                <div class="fc-clear"></div>
            </div>
            <div class="fc-view-container" style="">
                <div class="fc-view fc-month-view fc-basic-view" style="">
                    <table>
                        <thead class="fc-head">
                            <tr>
                                <td class="fc-head-container fc-widget-header">
                                    <div class="fc-row fc-widget-header" style="">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="fc-day-header" style="min"><span>Habitación</span></th>
                                                    <th class="fc-day-header" ng-if="main.isShowingHeader" ng-repeat="day in main.days track by $index"><span>{{main.calendarRange != 'Month' ? day.format('dddd') : day.format('dd')}}<br /> {{::day.format('DD')}}</span></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="fc-body">
                            <tr>
                                <td class="fc-widget-content">
                                    <div class="fc-scroller fc-day-grid-container" style="overflow: hidden;" ng-if="main.isShowing">
                                        <div class="fc-day-grid fc-unselectable">
                                            <div class="fc-row fc-week fc-widget-content" ng-repeat="room in ::main.calendar.rooms track by $index" >
                                                <div class="fc-bg">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="fc-day fc-widget-content fc-other-month fc-past" style="text-align:center;vertical-align:middle">{{::room.room.name}}</td>
                                                                <td class="fc-day fc-widget-content fc-other-month fc-past" ng-class="::{'fc-today': day.numberDate == main.todayNumber}" ng-repeat="day in ::main.days track by $index"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="fc-content-skeleton">
                                                    <table>
                                                        <!--<thead>
                                                            <tr>
                                                                <td class="fc-day-top fc-other-month fc-past"></td>
                                                                <td class="fc-day-top fc-other-month fc-past" ng-repeat="day in main.days track by $index"><span class="fc-day-number">{{::day.format('DD')}}</span></td>
                                                            </tr>
                                                        </thead>-->
                                                        <tbody>
                                                            <tr ng-repeat="bookingRow in ::room.rows track by $index">
                                                                <td></td>
                                                                <td ng-repeat="day in ::bookingRow.days track by $index" colspan="{{::day.booking.nights || ''}}" host-draggable drag-element="{{::day}}" drag-callback="main.moveBooking(from, to)" drag-forbidden="{{::day.booking != undefined}}" draggable="{{::day.booking != undefined}}" >
                                                                    <a ng-if="::day.booking.nights" class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" context-menu-on="click" context-menu="main.contextMenuOptions" model="{ day: day.day, booking:day.booking, room: room.room }" style="background-color:{{::day.booking.source.color}}" >
                                                                        <div class="fc-content"><span class="fc-time">{{::day.booking.id}}</span> <span class="fc-title">{{::day.booking.guestName}}</span></div>
                                                                    </a>
                                                                    <div ng-if="::!day.booking.nights" class="fc-tocreate" style="width:100%;height:30px;" ng-click="main.addBooking(day.day, day.booking, room.room)"></div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="::room.emptyRow">
                                                                <td></td>
                                                                <td ng-repeat="day in ::room.emptyRow.days track by $index" class="fc-tocreate" host-draggable drag-element="{{::day}}" drag-callback="main.moveBooking(from, to)" draggable="false"  >
                                                                    <a ng-click="main.addBooking(day, undefined, room.room)" class="btn btn-default btn-xs" style="margin-bottom:2px;margin-top:2px;margin-left:33%">+ {{::room.emptyRow.availableRows}}</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* .fc-content-skeleton td {
        border: solid 1px red !important;
    }*/
</style>
